language : rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libsdl2-dev libsdl2-image-dev
